[submodule "repos/traducoes"]
	path = repos/traducoes
	url = git@github.com:meleu/artigos-traduzidos.git
[submodule "repos/meleu.sh"]
	path = repos/meleu.sh
	url = git@github.com:meleu/meleudotsh.git
[submodule "repos/tdd-ruby"]
	path = repos/tdd-ruby
	url = git@github.com:meleu/tdd-ruby.git
